/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Colors */


:root {
    --black: rgb(66, 66, 66);
    --white: rgb(253, 253, 253);
    --offWhite: rgb(116, 116, 117);
    --grey: rgb(146, 146, 146);
    --topNav: rgba(20, 20, 20, 0.9);
    --subNav: rgba(253, 253, 253, 0.8);
    --borderGrey: rgb(206, 206, 206);
    --blue: rgb(0, 151, 217);
}


/* Fonts */


@font-face {
    font-family: 'muli';
    src: url('/assets/fonts/Muli-Regular.ttf') format('truetype');
    font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'muli';
	src: url('/assets/fonts/Muli-Bold.ttf') format('truetype');
    font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'muli';
	src: url('/assets/fonts/Muli-ExtraLight.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}
@font-face {
	font-family: 'muli';
	src: url('/assets/fonts/Muli-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}


/* My general Styles */


html {
    box-sizing: border-box;
    font-family: "muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--black);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-weight: normal;
}
img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

.wrapper {
    display: grid;
    grid-gap: 30px;
}


/* List styles */


ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    margin: 0
    padding: 0;
}
li {
    list-style-type: none;
    padding: 0 10px;
}


/*  Button(s) */


button {
  background-color: var(--blue);
  width: 200px;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  color: var(--white);
  border: 0;
}

button:hover {
    cursor: pointer;
}

.button-view {
    border: 2px solid var(--white);
    background: transparent;
    font-size: 12px;
    width: 100px;
    padding: 5px;
}


/* Top Nav/Header */


.top {
    background: url('/assets/images/hero.png') bottom no-repeat;
    overflow: hidden;
    background-size: cover;
    height: 100vh;
    max-height: 800px;
    display: grid;
    grid-template-rows: 70px 51px 1fr;
}

.top_nav,
.sub-nav {
    background: var(--topNav);
    color: var(--white);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 100px auto;
    align-items: center;
    padding: 0 20px;
}

.sub-nav {
    background: var(--subNav);
    color: var(--grey);
    border-bottom: 1px solid var(--borderGrey);
}

.sub-nav > a {
    color: var(--black);
    font-weight: bold;
}

.sub-nav > nav > ul {
    font-size: 12px;
    font-weight: bold;
}

.sub-nav nav ul li:hover {
    cursor: pointer;
    color: black;
    text-decoration: underline;
    text-decoration-color: var(--grey);
    transition: all 0.2s;
}

.hero {
    display: grid;
    grid-template-columns: 120px 12fr 8fr;
    align-content: center;
    color: var(--white);
}

.hero > * {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    grid-column: 2 / 3;
}

.hero > h1 {
    text-transform: uppercase;
    font-size: 52px;
    font-weight: lighter;
    z-index: 1;
    text-shadow: 0 0px 15px rgb(0,0,0);
}

.hero > h3 {
    max-width: 500px;
    font-weight: normal;
    font-size: 17.5px;
    z-index: 1;
    text-shadow: 0 0px 15px rgb(0,0,0);
}

.shadow-div {
    box-shadow: 1px 50px 150px 80px rgba(0,0,0,0.6);
    height: 0px;
    position: relative;
    top: 60px;
}


/* Side Menu */


.side-menu {
    position: absolute;
    border: 1px solid black;
    display: grid;
}

.side-menu ul {
    flex-direction: column;
    align-items: flex-start;
}


/* Gallery Styles */


.gallery {
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    text-align: center;
}

.gallery > * {
    grid-column: 2 / 3;
}

.gallery > h2 {
    font-size: 34px;
    font-weight: normal;
}

.gallery > h3 {
    font-size: 17.5px;
    font-weight: normal;
    max-width: 700px;
    justify-self: center;
    margin: 20px 0;
}

.gallery-images {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
}

.program {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    text-align: left;
}

label {
    padding-bottom: 5px;
}

label div:first-child {
    font-weight: bold;
    color: var(--black);
    font-size: 16px;
}

label div:last-child {
    font-style: italic;
    color: var(--grey);
    font-size: 12px;
}

.program:hover {
    cursor: pointer;
}

.program img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.program-overlay {
    background: rgba(0, 0, 0, 0.5);
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    transform: translateY(-100%);
    transition: 0.3s;
}

.program:hover .program-overlay{
    transform: translateY(0);
}

.gallery > button {
    justify-self: center;
}


/* Call to action */


.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-to-action h2 {
    font-size: 34px;
    font-weight: lighter;
}
.call-to-action > * {
    margin: 0 10px;
}


/* Footer */


footer {
    background: var(--topNav);
    color: var(--offWhite);
    min-height: 50px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    align-items: center;
    justify-content: left;
    font-size: 10px;
    grid-gap: 10px;
}

.bottom-nav > ul > li {
    font-size: 10px;
    padding: 0 5px;
}

.bottom-nav > ul > li::after {
    content: ' /';
}

.bottom-nav > ul > li:last-child::after {
    content: '';
}

footer span {
    justify-self: right;
}

.dropdown {
    text-transform: uppercase;
    font-weight: bold;
}


/* key frames */


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


/* media queries */


@media(max-width: 900px) {
    .gallery {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .gallery > * {
        grid-column: 1 / -1;
    }
    footer {
        grid-template-columns: 1fr;
        justify-items: right;
        padding: 20px;
    }
    .bottom-nav > ul > li::after {
        content: '';
    }
}
@media(max-width: 700px) {
    .top {
        grid-template-rows: 70px 1fr;
    }
    .sub-nav {
        display: none;
    }
    .hero {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .hero > h1 {
        font-size: 35px;
    }
    .gallery > h2 {
        font-size: 30px;
    }
    .gallery {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
    .gallery > * {
        grid-column: 1 / -1;
    }
    .call-to-action {
        flex-direction: column;
    }
    .call-to-action h2 {
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
}

@media(max-width: 500px) {
    .bottom-nav ul {
        flex-direction: column;
        align-items: flex-end;
    }
    ul > li {
        font-size: 10px;
    }
    .top_nav {
        grid-template-columns: 50px auto;
    }
    .hero > h1 {
        font-size: 25px;
    }
    .hero > h3 {
        font-size: 15px;
    }
    .gallery > h3 {
        font-size: 15px;
    }
}
