:root {
    --black: rgb(66, 66, 66);
    --white: rgb(253, 253, 253);
    --grey: rgb(146, 146, 146);
    --topNav: rgba(20, 20, 20, 0.9);
    --subNav: rgba(253, 253, 253, 0.8);
}

@font-face {
    font-family: 'muli';
    src: url('/assets/Muli1/Muli-Regular.ttf');
}

html {
    box-sizing: border-box;
    font-family: "muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--black);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-weight: normal;
}
img {
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

.wrapper {
    display: grid;
    grid-gap: 30px;
}

/* List styles */

ul {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}
li {
    list-style-type: none;
    padding: 0 5px;
}

/*  Button style */

button {
  background-color: rgb(0, 151, 217);
  width: 200px;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  color: rgb(253, 253, 253);
  border: 0;
}

button:hover {
    cursor: pointer;
}

.button-view {
    border: 2px solid var(--white);
    background: transparent;
    font-size: 12px;
    width: 100px;
    padding: 5px;
}

/* Top Nav styles */

.top {
    background: url('/assets/images/hero.png') no-repeat fixed;
    overflow: hidden;
    background-size: cover;
    height: 100vh;
    max-height: 800px;
    display: grid;
    grid-template-rows: 70px 51px 1fr;
    grid-template-areas:
        "topNav"
        "subNav"
        "hero"
}

.top_nav,
.sub-nav {
    background: var(--topNav);
    color: var(--white);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 100px 1fr;
    align-items: center;
    padding: 0 10px;
}

.sub-nav {
    background: var(--subNav);
    color: var(--grey);
}

.sub-nav > nav > ul {
    font-size: 12px;
    font-weight: normal;
}

.hero {
    display: grid;
    /* max-width: 1200px; */
    grid-template-columns: 120px 12fr 8fr;
    align-content: center;
    color: var(--white);
    background: rgba(0, 0, 0, 0.2);
}
.hero > * {
    grid-column: 2 / 3;
}
.hero > h1 {
    text-transform: uppercase;
    font-size: 52px;
    font-weight: lighter;
}
.hero > h3 {
    max-width: 500px;
    font-weight: normal;
    font-size: 17.5px;
}

/* Gallery Styles */
.gallery {
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    grid-gap: 20px 0;
    text-align: center;
}

.gallery > * {
    grid-column: 2 / 3;
}

.gallery > h2 {
    font-size: 34px;
    font-weight: normal;
}

.gallery > h3 {
    font-size: 17.5px;
    font-weight: normal;
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-gap: 20px;
}

.program {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
}

.program:hover {
    cursor: pointer;
}

.program img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.program-overlay {
    background: rgba(0, 0, 0, 0.5);
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    transform: translateY(100%);
    transition: 0.2s;
}

.program:hover .program-overlay{
    transform: translateY(0);
}

.gallery > button {
    justify-self: center;
}

/* Call to action */

.call_to_action {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}
.call_to_action > *{
    margin: 0 10px;
}
